

*{ 

	margin-left: 20px;
	margin-right: 20px;
	width: auto;
	height: auto;
	font-family: 'Open Sans', sans-serif;
	/*border: dotted;*/

}

#Wrapper{

	background-color: rgba(36, 80, 118, 1);
	height: 520px;
}

#Head{
	display: inline-block; 
	margin-left: 140px;
	position: relative;
	top: -60px;
	font-size: 12px;

}

#special{
	background-color: rgba(36, 80, 118, 1);
	color: white;

}

.first{
	color: yellow;
}

#Spec{
	color: white;
}

#GO{
	margin-right: 50px;
	position: relative;
	top: -5px;
	right: 60px;
	margin-top: 5px;
	border: solid;
	border-radius: 10px;
	background-color: rgba(68, 68, 68, 1);
}


#python_pict{

	width: 480px;
	height: auto;
	margin-top: 30px;
}

#NAV{


}

.NAVli{

	padding-right: -10px;

}

#NAV_el{
	list-style-type: none;
	display: flex;
	font-size: 16px;
	background-color: #407bad;
	border-radius: 5px;	
	margin-left: 100px;
	margin-right: 140px;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	word-spacing: 30px;

	
}

#Container{
	display: flex;
	margin-bottom: 10px;
	border-bottom: solid;

}

#Python{
	text-align: center;
	width: 600px;
	height: auto;

	}
#Para1{
	font-size: 12px;
	color: white;
}


.prod{
	font-style: oblique;
	margin-top: -5px;
	color: yellow;
	padding-top: -5px;
	padding-bottom:-5px;
	font-size: 14px;
	margin-left: 2px;

}

#Dern{
	font-size: 14px;
	color: white;
}


#Python ul{
	list-style-type: none;

}

#Menu_ul{
	margin-left: 5px;
	display: inline-block;
	color: white;


}

.Menu_li{
	text-align: center;
	list-style-type: none;
	font-size: 12px;
	margin-top: 3px;
	margin-bottom: 3px;


}

#Menu{
	width: 320px;
}

#Getting{ 
	width: 400px;
	border-top: solid rgba(123, 172, 215, 1);
	font-size: 12px;
	text-align: center;

 }

 #Applications{
 	width: 400px;
 	border-top: solid rgba(123, 172, 215, 1);
 	font-size: 12px;
 	text-align: center;
 }

 .Middletitle{
 	font-size: 14px;
 	font-weight: bold;
 }

#Main_Content{
	display: flex;
	background-color: none;
	padding-left: 50px;

}
.Melement{
	color: rgba(123, 172, 215, 1); 
}

#Footer{
	background-color:rgba(36, 80, 118, 1);
	color: rgba(123, 172, 215, 1);
	text-align: center;
	height: 80px;
	padding-top: 80px;
	padding-bottom: -2px;
	margin-left: -20px;
	margin-right: -20px;


}
#Footerul{
	list-style-type: none;
	display: flex;
	padding-left: 200px;
}

.Footer.el{
	
	
}
#Copyright{
		font-size: 10px;
}

